

<br>
<br>
<br>
<br>

  <header class="headerbg">	
    <a href="/chat"><img id="logo" src="../img/logo.png"i alt=""></a>
    <a class="logout" href="/logout">
      <div class="logout-button">Logout</div>
    </a>  
  </header>


  <div class="fanArt">
    <iframe id="videoPosition" src="http://www.youtube.com/embed/videoseries?list=PLktSUNu3rLlqGMo4SqANFuJn2o-H5A0-B" 
            frameborder="0"></iframe>
  </div>


  <div id="inner">
    <ul style="list-style-type:none" id="messages">
      {{#each newsfeed}}
        <li>
          <div class="user">
            <div class="user-image">
              <img src="{{userPhoto}}" alt="">
            </div>

            <div class="user-info">              
              <p style="text-align:left;"> 
	        <span class="username">{{user}}</span> 
	        <br>
                <span style="float:left;" class="posted">{{posted}}</span>
              </p>
            </div>
          </div>
                
          <div class="message-content">
            {{message}} 
          </div>
        </li>  
      {{/each}}
    </ul>
  </div>
  <div class="chatbox">
    <form id="send_message" action="">
    <input id="user_input"
           placeholder="Share your work and collaborate with other artists!"
           autocomplete="off"/>
    </form>
  </div>

<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/chatbox.js"></script>
<script src="./js/search.js"></script>
<script src="./js/likes.js"></script>
