<head>
  <link rel="stylesheet" type="text/css" href="../css/smartr.css">
</head>

<br>
<br>
<br>
<br>

<body>
  <header class="headerbg">	
    <img id="logo" src="../img/logo.png"i alt="">
    <a class="logout" href="/logout">
      <div class="logout-button">Logout</div>
    </a>  
  </header>


  <div class="fanPic">
    <img src="../img/mudkip.jpg" >
  </div>


  <div id="inner">
    <ul style="list-style-type:none" id="messages">
      {{#each newsfeed}}
        <hr>
        <li>
          <div class="user">
            <div class="user-image">
              <img src="{{userPhoto}}" alt="">
            </div>

            <div class="user-info">              
              <p style="text-align:left;"> 
	        <span class="username">{{user}}</span> 
	        <br>
                <span style="float:left;" class="posted">{{posted}}</span>
              </p>
            </div>
          </div>
                
          <div class="message-content">
            {{message}} 
          </div>
        </li>  
      {{/each}}
    </ul>
  </div>
  <div>
  <form class="chatbox" id="send_message" action="">
    <input id="user_input"
           placeholder="What do you think of the art?"
           autocomplete="off"/>
    <input type="submit" value="Post">
  </form>
  </div>

</body>

<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/chatbox.js"></script>
<script src="./js/search.js"></script>
<script src="./js/likes.js"></script>
<script src="./js/backtotop.js"></script>
