<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>

    <a class="logout" href="/logout">
        <div class="logout-button">
            Logout
        </div>
    </a>


{{displayName}}
{{photo}}



    <form action="/message" method="post">
    	
		Comment: <textarea name="comment"></textarea><br>
		
		Rating: <input type="radio" name="rating" value="one" checked> 1 |
		<input type="radio" name="rating" value="two" > 2 |
		<input type="radio" name="rating" value="three" > 3 |
		<input type="radio" name="rating" value="four" > 4 |
		<input type="radio" name="rating" value="five" > 5 <br>
    	<input type="submit" value="Submit">
    </form>
    {{#if data}}
    <h3>My Messages</h3>
    <table>
    	<thead>
    		<th>Username</th>
    		<th>Comment</th>
    		<th>Rating</th>
    	</thead>
    	<tbody>
    		{{#each data}}
    		<tr>
    			<td>{{username}}</td>
    			<td>{{comment}}</td>
    			<td>{{rating}}</td>
    		</tr>
    		{{/each}}
    	</tbody>
    </table>
    {{/if}}
</body>

</html>
